{#
/**
 * @file
 * Default theme implementation for a manyrows layout.
 *
 * This template provides a rows display layout with full width areas
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div {{ attributes.addClass('manyrows') }}>
    {% if content.row_1 %}
      <div {{ region_attributes.row_1.addClass('row-1') }}>
        {{ content.row_1 }}
      </div>            
    {% endif %}
    {% if content.row_2 %}
      <div {{ region_attributes.row_2.addClass('row-2') }}>
        {{ content.row_2 }}
      </div>            
    {% endif %}
    {% if content.row_3 %}
      <div {{ region_attributes.row_3.addClass('row-3') }}>
        {{ content.row_3 }}
      </div>            
    {% endif %}
    {% if content.row_4 %}
      <div {{ region_attributes.row_4.addClass('row-4') }}>
        {{ content.row_4 }}
      </div>            
    {% endif %}
    {% if content.row_5 %}
      <div {{ region_attributes.row_5.addClass('row-5') }}>
        {{ content.row_5 }}
      </div>            
    {% endif %}
    {% if content.row_6 %}
      <div {{ region_attributes.row_6.addClass('row-6') }}>
        {{ content.row_6 }}
      </div>            
    {% endif %}
    {% if content.row_7 %}
      <div {{ region_attributes.row_7.addClass('row-7') }}>
        {{ content.row_7 }}
      </div>            
    {% endif %}
    {% if content.row_8 %}
      <div {{ region_attributes.row_8.addClass('row-8') }}>
        {{ content.row_8 }}
      </div>            
    {% endif %}
    {% if content.row_9 %}
      <div {{ region_attributes.row_9.addClass('row-9') }}>
        {{ content.row_9 }}
      </div>            
    {% endif %}
    {% if content.row_10 %}
      <div {{ region_attributes.row_10.addClass('row-10') }}>
        {{ content.row_10 }}
      </div>            
    {% endif %}
  </div>  
{% endif %}
